.tab-group
  %h2 User Information

  .table
    = form_for(@user, :action => resource(@user) ) do
      .row
        %p.cell Display Name:
        %p.cell
          = text_field :real_name, :class => 'formtext', :style => 'width: 200px;'
          &nbsp; &nbsp;
          = link_to ' ', '', :class => 'help'
          = submit 'Save'
